.container {
    &__result {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;
    }
    &__title {
        margin-left: 14px;
    }

    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #9F9F9F;
    }

    img {
        width: 54px;
        height: 54px;
    }
}